* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.top-warp {
  width: 1240px;
}
.top-warp > .top-nav {
  height: 82px;
  width: 1240px;
}
.top-warp > .top-nav > a {
  display: block;
  width: 110px;
  height: 100%;
  float: left;
}
.top-warp > .top-nav > a > .top-logo {
  height: 100%;
  width: 110px;
  background: url('../images/index/base.png') 0px 25px;
}
.top-warp > .top-nav > ul {
  width: 760px;
  height: 100%;
  float: left;
  margin-left: 80px;
  margin-bottom: 0;
}
.top-warp > .top-nav > ul > li {
  float: left;
  list-style: none;
}
.top-warp > .top-nav > ul > li > a {
  display: block;
  padding: 31px 20px 30px;
  line-height: 21px;
  font-size: 14px;
  transition: color 0.1s linear;
  color: #333333;
}
.top-warp > .top-nav > ul > li > a:hover {
  color: #3058df;
}
.top-warp > .top-nav .top-search {
  float: left;
  width: 180px;
  height: 30px;
  border: 1px solid #666666;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 27px;
}
.top-warp > .top-nav .top-search > input {
  margin-top: 5px;
  margin-left: 13px;
  border: none;
  outline: none;
  width: 130px;
}
.top-warp > .top-nav .top-shop {
  float: right;
  margin-top: 27px;
  margin-left: 10px;
}
.top-warp > .top-nav .top-shop > a {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../images/index/shop.png');
  background-size: 30px;
}
.top-warp > .top-nav .top-user {
  float: right;
  margin-top: 27px;
}
.top-warp > .top-nav .top-user > a {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../images/index/man.png');
  background-size: 30px;
}
.top-warp > .top-nav .top-user > .userLogo {
  display: none;
  width: 30px;
  height: 30px;
  background: url('../images/index/user.jpg') no-repeat center center;
  background-size: 50px;
  border-radius: 50%;
}
.two-warp {
  height: 70px;
  background-color: rgba(238, 238, 238, 0.767);
  position: sticky;
  border-bottom: 1px solid #dedede;
  top: 0;
  z-index: 998;
  margin-bottom: 10px;
}
.two-warp > .row {
  width: 1240px;
  margin: 0 auto;
  height: 100%;
}
.two-warp > .row .shop-name {
  margin: 0;
  line-height: 70px;
  float: left;
}
.two-warp > .row > ul {
  float: right;
}
.two-warp > .row > ul > li {
  list-style: none;
  float: left;
  border-right: 1px solid #dedede;
  margin-top: 25px;
}
.two-warp > .row > ul > li:last-child {
  border: none;
}
.two-warp > .row > ul > li > a {
  display: block;
  padding: 0 20px;
  line-height: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.shop-main {
  width: 1240px;
  padding: 0;
  height: 1000px;
}
.shop-main .row > .shop-img {
  width: 560px;
  height: 732px;
  float: left;
  margin-right: 39px;
}
.shop-main .row > .shop-img > .warp-tab {
  width: 560px;
  height: 560px;
  /* margin: 0 auto; */
  left: 0;
}
.shop-main .row > .shop-img > .warp-tab > .small {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #ccc;
  float: left;
}
.shop-main .row > .shop-img > .warp-tab > .small .moveBox {
  /* width: 100px;
            height: 100px; */
  border: 1px solid #ccc;
  background-color: orange;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
}
.shop-main .row > .shop-img > .warp-tab .big {
  float: left;
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  /* margin-left: 10px; */
  overflow: hidden;
  position: absolute;
  top: 162px;
  left: 686px;
  z-index: 10;
}
.shop-main .row > .shop-img > .warp-tab .big > .bigPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: 10;
}
.shop-main .row > .shop-img > .warp-tab .hide {
  display: none;
}
.shop-main .row > .shop-img > .warp-tab .show {
  display: block;
}
.shop-main .row > .shop-img ul {
  width: 558px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 11;
  /* margin-top: -100px; */
}
.shop-main .row > .shop-img ul li {
  width: 90px;
  height: 90px;
  list-style: none;
  border: 2px solid;
  border-color: rgba(255, 0, 0, 0);
  transition: 0.2s;
}
.shop-main .row > .shop-img .small img,
.shop-main .row > .shop-img ul li img {
  width: 100%;
  height: 100%;
}
.shop-main .row > .shop-img .active {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.shop-main .row > .shop-word {
  width: 640px;
  height: 959px;
  float: left;
}
.shop-main .row > .shop-word .shop-title {
  height: 99px;
}
.shop-main .row > .shop-word .shop-title h3 {
  clear: both;
  font-size: 28px;
  font-weight: 700px;
}
.shop-main .row > .shop-word .shop-title p {
  display: block;
  color: #e22841;
}
.shop-main .row > .shop-word .shop-price {
  height: 98px;
  position: relative;
  background: #f4f6fa;
  padding: 12px 0 12px;
}
.shop-main .row > .shop-word .shop-price > span:first-child {
  font-size: 22px;
  color: #e02b41;
}
.shop-main .row > .shop-word .shop-price .num-price {
  font-size: 36px;
  color: #e02b41;
}
.shop-main .row > .shop-word .shop-price .more-price {
  display: inline-block;
  width: 60px;
  height: 18px;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  color: #E02B41;
  margin-right: 10px;
  margin-left: 7px;
  background-color: #f2eaef;
}
.shop-main .row > .shop-word .shop-price a {
  color: #008cff;
}
.shop-main .row > .shop-word .shop-area {
  height: 117px;
  border-bottom: 1px dashed #dedede;
  padding: 18px 0;
}
.shop-main .row > .shop-word .shop-area .s-title {
  float: left;
  color: #8c8c8c;
  font-size: 12px;
}
.shop-main .row > .shop-word .shop-area .s-title .s-space {
  padding: 0 6px;
}
.shop-main .row > .shop-word .shop-area ul {
  height: 18px;
}
.shop-main .row > .shop-word .shop-area ul li {
  float: left;
  list-style: none;
  margin-left: 17px;
  color: #8c8c8c;
  font-size: 13px;
}
.shop-main .row > .shop-word .s-title {
  float: left;
  color: #8c8c8c;
  font-size: 12px;
}
.shop-main .row > .shop-word .s-title .s-space {
  padding: 0 6px;
}
.shop-main .row > .shop-word .s-city {
  margin-left: 10px;
}
.shop-main .row > .shop-word .s-sale {
  height: 20px;
  margin-top: 4px;
  margin-left: 57px;
}
.shop-main .row > .shop-word .s-sale span {
  font-size: 12px;
  color: #8c8c8c;
}
.shop-main .row > .shop-word .s-sale a {
  color: #008cff;
  font-size: 13px;
}
.shop-main .shop-config {
  height: 106px;
}
.shop-main .shop-config .s-one {
  margin-top: 10px;
}
.shop-main .shop-config .s-title {
  margin-top: 16px;
}
.shop-main .shop-config ul {
  width: 565px;
  height: 53px;
  margin-left: 74px;
}
.shop-main .shop-config ul li {
  list-style: none;
  position: relative;
  float: left;
  width: 176px;
  margin: 0 10px 10px 0;
  background-color: #fff;
  white-space: nowrap;
  line-height: 40px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  color: #595959;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  min-height: 41px;
}
.shop-main .shop-config ul > li:first-child {
  border: 1px solid #3d3d3d;
}
.shop-main .shop-config .s-two ul > li:first-child {
  color: #14dd1e;
}
.shop-main .shop-config .s-two ul span {
  font-size: 13px;
  color: #bebebe;
}
.shop-main .shop-config .s-four li {
  height: 54px;
  position: relative;
  margin-bottom: 18px;
}
.shop-main .shop-config .s-four .noPay {
  position: absolute;
  bottom: -3PX;
  font-size: 12px;
  color: #918f8f;
  left: 50%;
  transform: translateX(-50%);
}
.shop-main .shop-config .s-five .s-title {
  margin-top: 10px;
}
.shop-main .shop-config .s-five .add-num {
  width: 122px;
  height: 60px;
  margin-left: 70px;
}
.shop-main .shop-config .s-five .add-num button {
  width: 34px;
  height: 34px;
  float: left;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #d6d6d6;
  outline: none;
}
.shop-main .shop-config .s-five .add-num input {
  width: 44px;
  height: 34px;
  float: left;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #d6d6d6;
  border-width: 1px 0 1px;
  outline: none;
}
.shop-main .shop-config .s-five .shop-go {
  height: 70px;
  margin-top: 15px;
}
.shop-main .shop-config .s-five .shop-go .shop-buy {
  width: 210px;
  height: 54px;
  background-color: #387aff;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 13px;
  color: #fff;
  font-size: 18px;
}
.shop-main .shop-config .s-five .shop-go .shop-buy:hover {
  background-color: #3058df;
}
.shop-main .shop-config .s-five .shop-go .shop-join {
  width: 210px;
  height: 54px;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 13px;
  border: 1px solid;
  color: #387aff;
  font-size: 18px;
  margin-left: 20px;
}
.shop-main .shop-config .s-five .shop-go .shop-join:hover {
  background-color: #eef8fd;
}
.floor-warp {
  padding: 0;
  width: 1240px;
  height: 248px;
  padding: 48px 0 20px;
}
.floor-warp > .row {
  margin: 0px;
}
.floor-warp > .one {
  height: 85px;
}
.floor-warp > .one .col-md-8 {
  padding: 0;
}
.floor-warp > .one ul {
  width: 1000px;
  height: 69px;
}
.floor-warp > .one ul li {
  text-align: center;
  list-style: none;
  width: 150px;
  float: left;
  height: 69px;
  cursor: pointer;
}
.floor-warp > .one ul li > img {
  width: 50px;
  height: 39px;
}
.floor-warp > .one ul li > p {
  margin-top: 5px;
  font-size: 14px;
  color: #999;
}
.floor-warp > .one > .right-word {
  width: 170px;
  height: 103px;
  float: right;
  padding: 0;
  text-align: right;
  margin-top: -20px;
}
.floor-warp > .one > .right-word > p {
  color: #999;
  font-size: 12px;
}
.floor-warp > .one > .right-word > h4 {
  color: #008cff;
  font-size: 25px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 40px;
  margin-bottom: 0px;
}
.floor-warp > .one > .right-word > span {
  display: block;
  height: 30px;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  display: inline-block;
  font-size: 14px;
  background: #008cff;
  cursor: pointer;
}
.floor-warp .two {
  height: 18px;
  height: 1px;
  background-color: #eeeeee;
}
.floor-warp .two .col-md-8 {
  padding: 0;
}
.floor-warp .two ul {
  width: 1100px;
  height: 100%;
  overflow: hidden;
  margin-top: 25px;
}
.floor-warp .two ul li {
  list-style: none;
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
  float: left;
  height: 18px;
  margin-right: 15px;
}
.floor-warp .two ul li:last-of-type {
  margin-right: 0px;
  border: none;
}
.floor-warp .two ul li:last-of-type:last-of-type > a {
  background: url('../images/index/1c31db15-ab85-4932-8e6c-edfd6039bc60.png') no-repeat 1px;
  background-size: 14px 14px;
  text-indent: 20px;
}
.floor-warp .two ul li a {
  display: inline-block;
  color: #999;
}
.floor-warp .two ul li a:hover {
  color: #008cff;
}
.floor-warp .floor-tow {
  height: 50px;
  float: left;
  width: 100%;
  margin-left: 1px;
}
.floor-warp .floor-tow > span {
  font-size: 13px;
  color: rgba(127, 127, 127, 0.562);
  cursor: pointer;
  transition: 0.4s;
}
.floor-warp .floor-tow > span:hover {
  color: #000;
}
.floor-warp .floor-tow .filing {
  display: inline-block;
  text-indent: 20px;
  background: url('../images/index/ghs.png') no-repeat 1px 1px;
  background-size: 14px 14px;
}
.floor-warp .floor-tow > ul {
  width: 220px;
  height: 30px;
  float: right;
  position: relative;
}
.floor-warp .floor-tow > ul .qbox {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -185px;
  left: 53px;
  transition: 0.3s;
  display: none;
}
.floor-warp .floor-tow > ul .qbox img {
  width: 100%;
  height: 100%;
}
.floor-warp .floor-tow > ul > li {
  width: 24px;
  height: 20px;
  list-style: none;
  padding: 0 5px 0;
  border-right: 1px solid #d6d6d6;
  float: right;
  margin-left: 5px;
}
.floor-warp .floor-tow > ul > li:first-child {
  background: url('../images/index/base.png') no-repeat -223px -97px;
}
.floor-warp .floor-tow > ul > li:first-child:hover {
  background-position-y: -143px;
}
.floor-warp .floor-tow > ul > li:nth-child(2) {
  background: url('../images/index/base.png') no-repeat -307px -97px;
}
.floor-warp .floor-tow > ul > li:nth-child(2):hover {
  background-position-y: -143px;
}
.floor-warp .floor-tow > ul > li:nth-child(2):hover .qbox {
  display: block;
}
.floor-warp .floor-tow > ul > li:nth-child(3) {
  background: url('../images/index/base.png') no-repeat -349px -97px;
}
.floor-warp .floor-tow > ul > li:nth-child(3):hover {
  background-position-y: -143px;
}
.floor-warp .floor-tow > ul > li:nth-child(4) {
  background: url('../images/index/base.png') no-repeat -265px -97px;
}
.floor-warp .floor-tow > ul > li:nth-child(4):hover {
  background-position-y: -143px;
}
